{
    "presets": ["@babel/preset-env"],
    "plugins": [
        "@babel/plugin-proposal-private-methods",
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-syntax-bigint"
    ]
}
