{
    "parser": "babel-eslint",
    "extends": ["standard", "prettier", "prettier/standard", "plugin:ava/recommended"],
    "rules": {},
    "globals": {
        "BigInt": true
    },
    "plugins": ["ava"]
}
